* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 1.3em;
}

header {
  width: 100%;
  height: 5vh;
  background: linear-gradient(90deg, #F1C40F 0%, #E74C3C 100%);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
header h1 {
  margin-left: 30px;
}
header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  width: 20%;
}
header ul li {
  list-style: none;
  font-weight: bold;
}
header ul li:hover {
  color: #F1C40F;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 60vh;
  gap: 65px;
}
.main .tile1 {
  transition: all 0.2s ease;
  height: 50vh;
  width: 30vh;
  background-color: #F1C40F;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.2s ease;
  padding: 2px;
  text-align: center;
}
.main .tile1 h2 {
  color: white;
  background-color: rgb(222.6141732283, 180.874015748, 12.9858267717);
  padding: 5% 20%;
  border-radius: 10px;
}
.main .tile1 a {
  background-color: #3498DB;
  color: white;
  padding: 5% 20%;
  text-decoration: none;
  border-radius: 10px;
}
.main .tile1 a:hover {
  background-color: rgb(95.3179916318, 173.9790794979, 226.6820083682);
}
.main .tile1 :nth-child(2) {
  font-size: 1.5em;
}
.main .tile1:hover {
  transform: translatey(-10px);
}
.main .tile1 h2 {
  background-color: #f1b50f;
}
.main .tile2 {
  height: 50vh;
  width: 30vh;
  background-color: #3498DB;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.2s ease;
  padding: 2px;
  text-align: center;
}
.main .tile2 h2 {
  color: white;
  background-color: rgb(37.7472803347, 142.6008368201, 212.8527196653);
  padding: 5% 20%;
  border-radius: 10px;
}
.main .tile2 a {
  background-color: #3498DB;
  color: white;
  padding: 5% 20%;
  text-decoration: none;
  border-radius: 10px;
}
.main .tile2 a:hover {
  background-color: rgb(95.3179916318, 173.9790794979, 226.6820083682);
}
.main .tile2 :nth-child(2) {
  font-size: 1.5em;
}
.main .tile2:hover {
  transform: translatey(-10px);
}
.main .tile3 {
  height: 50vh;
  width: 30vh;
  background-color: #2ECC71;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.2s ease;
  padding: 2px;
  text-align: center;
}
.main .tile3 h2 {
  color: white;
  background-color: rgb(42.2464, 187.3536, 103.7792);
  padding: 5% 20%;
  border-radius: 10px;
}
.main .tile3 a {
  background-color: #3498DB;
  color: white;
  padding: 5% 20%;
  text-decoration: none;
  border-radius: 10px;
}
.main .tile3 a:hover {
  background-color: rgb(95.3179916318, 173.9790794979, 226.6820083682);
}
.main .tile3 :nth-child(2) {
  font-size: 1.5em;
}
.main .tile3:hover {
  transform: translatey(-10px);
}
.main .tile4 {
  height: 50vh;
  width: 30vh;
  background-color: #E74C3C;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.2s ease;
  padding: 2px;
  text-align: center;
}
.main .tile4 h2 {
  color: white;
  background-color: rgb(228.7643835616, 59.3260273973, 41.8356164384);
  padding: 5% 20%;
  border-radius: 10px;
}
.main .tile4 a {
  background-color: #3498DB;
  color: white;
  padding: 5% 20%;
  text-decoration: none;
  border-radius: 10px;
}
.main .tile4 a:hover {
  background-color: rgb(95.3179916318, 173.9790794979, 226.6820083682);
}
.main .tile4 :nth-child(2) {
  font-size: 1.5em;
}
.main .tile4:hover {
  transform: translatey(-10px);
}
.main .tile5 {
  height: 50vh;
  width: 30vh;
  background-color: #8E44AD;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.2s ease;
  padding: 2px;
  text-align: center;
}
.main .tile5 h2 {
  color: white;
  background-color: rgb(129.9800829876, 62.2439834025, 158.3560165975);
  padding: 5% 20%;
  border-radius: 10px;
}
.main .tile5 a {
  background-color: #3498DB;
  color: white;
  padding: 5% 20%;
  text-decoration: none;
  border-radius: 10px;
}
.main .tile5 a:hover {
  background-color: rgb(95.3179916318, 173.9790794979, 226.6820083682);
}
.main .tile5 :nth-child(2) {
  font-size: 1.5em;
}
.main .tile5:hover {
  transform: translatey(-10px);
}
.main .tile5 h2 {
  background-color: rgb(165.4481327801, 98.510373444, 193.489626556) !important;
}

footer {
  background-color: #2C3E50;
  height: 35vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
footer h2 {
  color: #F1C40F;
}
footer p {
  color: white;
}
footer li {
  list-style: none;
  color: white;
}

.tile1 :nth-child(2) {
  font-size: 1.2em;
}

/*# sourceMappingURL=style.css.map */
