@font-face {
    font-family: "DynaPuff";
    src: url(/ECF_Front/fonts/DynaPuff.ttf);
}

body {
    font-family: "DynaPuff";
}

.ok-button{
    height: 40px;
    width: 40px;
    padding: 0 8px;
    border-radius: 10px;
    border: 3px solid;
    border-color: grey black black gray;
}

.image>div>img{
    transition: all 0.2s ease;
}

.image>div>img:hover{
    scale: 1.05;
}